
.desc_show{
    animation: element-appear 1s ease-out forwards;
    margin-left: 11em;
    width: 30%;
  
  }
  .pic_show{
    animation: element-appear 500ms ease-out forwards;
  
  }
  .price_show{
    animation: element-appear 2s ease-out forwards;
  /* width: 50%; */
  
  }
  
  
  
  @keyframes element-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .amountInputField {
    width: 50%;
    /* border: none; */
    margin-bottom: 3%;

    

  }

  .amountInputField:focus{
    background-color:rgb(241, 217, 137) ;
    outline: 2px solid  rgb(245, 197, 38);
    border-radius: 3px;

  }

  
  .sizeInputField {
    width: 150px;
    border: none;
    margin-bottom: 3%;
    border-radius: 3px;

    

  }

  .sizeInputField:focus{
    background-color:rgb(241, 217, 137) ;
    outline: 2px solid  rgb(245, 197, 38);
    

  }

  .materialInputField {
    width: 150px;
    border: none;
    margin-bottom: 3%;
    border-radius: 3px;
    background-color: white;
 

    

  }

  .materialInputField:focus{
    background-color:rgb(241, 217, 137) ;
    outline: 2px solid  rgb(245, 197, 38);
    

  }

  .container{
    margin-bottom: 5em;
    display:flex;
    justify-content: space-between;
    align-items: start;
  }


 
  
